<form>
  <div class="row">
    <div class="col-md-6">
      <div class="card mb-3" data-scroll-target>
        <div class="card-header">
          Origin
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <select name="origin" [(ngModel)]="character.origin" class="form-control">
              <option *ngFor="let option of origins" [ngValue]="option">
                {{option.name}}
              </option>
            </select>
            <div *ngIf="character.origin" class="mt-2">
                {{character.origin.description}}
            </div>
          </li>
          <ng-container *ngIf="character.origin">
            <li class="list-group-item">
              <b>Skills:</b> Choose {{character.origin.proficiencyCount}} from {{character.origin.proficiencyOptions.join(", ")}}
              <ng-container *ngFor="let skill of character.getOriginSkills(); index as i">
                <select class="form-control mt-2" name="originSkill{{i}}" (change)="character.changeOriginSkill(skill, $event.target.value)">
                  <option selected>
                    {{skill}}
                  </option>
                  <option *ngFor="let option of character.origin.proficiencyOptions | filter:character.skills">
                    {{option}}
                  </option>
                </select>
                <div *ngIf="skill" class="mt-2">
                  {{skills.byName[skill].description}}
                </div>
              </ng-container>
            </li>
            <li class="list-group-item" data-scroll-target>
              <b>Languages:</b> {{character.originLanguageDisplay()}}
              <ng-container *ngFor="let category of character.origin.languages; index as i">
                <select name="language{{i}}" [(ngModel)]="character.languages[i]" class="form-control mt-2">
                  <option *ngFor="let language of languages.byCategory[category]" [ngValue]="language">
                    {{language.name}}
                  </option>
                </select>
                <div *ngIf="character.languages[i]" class="mt-2">
                  Speakers: {{character.languages[i].speakers.join(", ")}}
                </div>
              </ng-container>
            </li>
            <li class="list-group-item">
              <b>Equipment:</b> {{character.origin.equipment.join(", ")}}
            </li>
            <li class="list-group-item">
              <b>Base Attack:</b> {{character.origin.attack}}
            </li>
          </ng-container>
        </ul>
      </div>
      
      <div class="card mb-3" data-scroll-target>
        <div class="card-header text-center">
          Weakness and Presence
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">            
            <label for="weakness">Weakness (Damage &times;2)</label>
            <select id="weakness" name="weakness" [(ngModel)]="character.weakness" class="form-control">
              <option *ngFor="let type of damageTypes | filter:[character.presence]" [ngValue]="type">{{type.name}}</option>
            </select>              
            <div *ngIf="character.weakness" class="mt-2">{{character.weakness.description}}</div>
          </li>
          <li class="list-group-item">            
            <label for="presence">Presence (Damage &times;0)</label>
            <select id="presence" name="presence" [(ngModel)]="character.presence" class="form-control">
              <option *ngFor="let type of damageTypes | filter:[damageTypes.byName['Physical'], character.weakness]" [ngValue]="type">{{type.name}}</option>
            </select>          
            <div *ngIf="character.presence" class="mt-2">{{character.presence.description}}</div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-3" data-scroll-target>
        <div class="card-header">
          Alignment
        </div>
        <div class="card-body">
          <select name="alignment" [(ngModel)]="character.alignment" class="form-control">
            <option *ngFor="let option of alignments" [ngValue]="option">{{option.name}}</option>
          </select>
          <div *ngIf="character.alignment" class="mt-2">
            {{character.alignment.description}}
          </div>
        </div>
      </div>
      
      <div class="card mb-3" data-scroll-target>
        <div class="card-header">
          Archetype
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <select name="archetype" [(ngModel)]="character.archetype" class="form-control">
              <option *ngFor="let option of archetypes" [ngValue]="option">
                {{option.name}} ({{option.primaryPower}}/{{option.secondaryPower}})
              </option>
            </select>
            <div *ngIf="character.archetype" class="mt-2">
              {{character.archetype.description}}
            </div>
          </li>
          <ng-container *ngIf="character.archetype">
            <li class="list-group-item">
              <b>Inherent Ability: </b>{{character.archetype.inherentAbility}}
            </li>
            <li class="list-group-item">
              <b>Stat Increase: </b>
              {{character.archetypeStatDisplay()}}
            </li>
            <li class="list-group-item">
              <label for="primaryPowerSet">Primary Power ({{character.archetype.primaryPower}}):</label>
              <select id="primaryPowerSet" name="primaryPowerSet" class="form-control" [(ngModel)]="character.primaryPowerSet">
                <option *ngFor="let powerSet of powerSets.byCategory[character.archetype.primaryPower] | filter:'primary'" [ngValue]="powerSet">
                  {{powerSet.name}}
                </option>
              </select>
            </li>
            <li class="list-group-item">
              <label for="secondaryPowerSet">Secondary Power ({{character.archetype.secondaryPower}}):</label>
              <select id="secondaryPowerSet" name="secondaryPowerSet" class="form-control" [(ngModel)]="character.secondaryPowerSet">
                <option *ngFor="let powerSet of powerSets.byCategory[character.archetype.secondaryPower] | filter:'secondary'" [ngValue]="powerSet">
                  {{powerSet.name}}
                </option>
              </select>
            </li>
            <li class="list-group-item">
              <b>Recovery/Endurance Dice: </b>{{character.archetype.recoveryDice}}/{{character.archetype.enduranceDice}}
            </li>
          </ng-container>
        </ul>
      </div>

      <div class="card mb-3" data-scroll-target>
        <div class="card-header">
          Traversal
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <select name="traversal" [(ngModel)]="character.traversal" class="form-control">
              <option *ngFor="let option of traversalPowers" [ngValue]="option">{{option.name}}</option>
            </select>
          </li>
          <ng-container *ngIf="character.traversal">
            <li *ngFor="let item of character.traversal.abilities" class="list-group-item">
              <b>{{item.name}}: </b>{{item.description}}
            </li>
          </ng-container>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6" *ngFor="let power of character.ancillaryPowers; index as i">
      <div class="card mb-3">
        <div class="card-header">
          Ancillary Power
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            <select name="ancillaryPowers{{i}}" [(ngModel)]="character.ancillaryPowers[i]" class="form-control">
              <option *ngFor="let option of ancillaryPowers" [ngValue]="option">{{option.name}}</option>
            </select>
            <div *ngIf="character.ancillaryPowers[i]" class="mt-2">
              {{character.ancillaryPowers[i].description}}
            </div>
          </li>          
          <li class="list-group-item" *ngIf="((character.ancillaryPowers[i] || {})['statIncrease'] || {})['Choose']">
            <div class="row">
              <div class="col-6" *ngFor="let increase of character.ancillaryPowers[i].statIncrease['Choose']">                
                  <label for="ancillary{{i}}increase{{increase}}">Increase by {{increase}}</label>
                  <select class="form-control" name="ancillary{{i}}increase{{increase}}"
                    [ngModel]="(character.ancillaryStats[i] || {})[increase]"
                    (ngModelChange)="character.setIncrease(i, increase, $event)">
                    <option *ngFor="let stat of stats" [ngValue]="stat.name">{{stat.name}}</option>
                  </select>                
              </div>
            </div>
          </li>          
          <li class="list-group-item" *ngIf="(character.ancillaryPowers[i] || {})['skillProficiency']">
            <select class="form-control" name="ancillarySkills{{i}}" [(ngModel)]="character.ancillarySkills[i]">
              <option *ngFor="let skill of skillMap[character.ancillaryPowers[i].skillProficiency]" [ngValue]="skill">{{skill}}</option>
            </select>
            <div *ngIf="character.ancillarySkills[i]" class="mt-2">
              {{skills.byName[character.ancillarySkills[i]].description}}
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row" *ngFor="let row of character.mainPowers() | powerDisplayRows; index as i" data-scroll-target>
    <div *ngFor="let power of row" class="mb-3 col-12" [class.col-md-6]="row.length > 1">
      <app-power [power]="power" [level]="character.level"></app-power>
    </div>
  </div>
</form>
